@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h2>@Title</h2>

<p role="status">Current count: @currentCount</p>



<button class="btn btn-primary" @onclick="OnClick">Click me</button>

@code {
    [Parameter]

    public string Title { get; set; } = "Counter";

    [Parameter]

    public EventCallback OnClick {get; set;}

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
